In [1]:
from intuitlib.client import AuthClient
from quickbooks import QuickBooks
from quickbooks.objects.account import Account
import pandas as pd

In [2]:
auth_client = AuthClient(
        client_id='ABVlDV6VbSq3SyfN6ShES7gauQ8LExHxnhuoDVsKaEOe3GmBrT',
        client_secret='zqQX950hO9CICCreDvfAvk3mE7tuJJKrGyyrRxEU',
        access_token=None,  # If you do not pass this in, the Quickbooks client will call refresh and get a new access token. 
        environment='production',
        redirect_uri='https://developer.intuit.com/v2/OAuth2Playground/RedirectUrl',
    )

In [3]:
client = QuickBooks(
        auth_client=auth_client,
        refresh_token='AB116945475244BlQAloOY4qPsm9zaekN4JTqKwHN5H60rL7dH',
        company_id='514655250',
    )

In [4]:
json_resp = client.get_report("ProfitAndLossDetail", {"start_date":"2023-01-01", "end_date":"2023-01-31"})

In [5]:
json_resp.keys()

dict_keys(['Header', 'Columns', 'Rows'])

In [6]:
json_resp['Columns']

{'Column': [{'ColTitle': 'Date', 'ColType': 'tx_date'},
  {'ColTitle': 'Transaction Type', 'ColType': 'txn_type'},
  {'ColTitle': 'Num', 'ColType': 'doc_num'},
  {'ColTitle': 'Name', 'ColType': 'name'},
  {'ColTitle': 'Memo/Description', 'ColType': 'memo'},
  {'ColTitle': 'Split', 'ColType': 'split_acc'},
  {'ColTitle': 'Amount', 'ColType': 'subt_nat_amount'},
  {'ColTitle': 'Balance', 'ColType': 'rbal_nat_amount'}]}

In [7]:
cols = [i["ColTitle"] for i in json_resp['Columns']['Column']]
report_info = json_resp['Header']

In [8]:
report_info

{'Time': '2023-06-23T15:07:59-07:00',
 'ReportName': 'ProfitAndLossDetail',
 'ReportBasis': 'Cash',
 'StartPeriod': '2023-01-01',
 'EndPeriod': '2023-01-31',
 'Currency': 'USD',
 'Option': [{'Name': 'NoReportData', 'Value': 'false'}]}

In [14]:
json_resp['Rows']['Row']

[{'Header': {'ColData': [{'value': 'Ordinary Income/Expenses'},
    {'value': ''},
    {'value': ''},
    {'value': ''},
    {'value': ''},
    {'value': ''},
    {'value': ''},
    {'value': ''}]},
  'Rows': {'Row': [{'Header': {'ColData': [{'value': 'Income'},
       {'value': ''},
       {'value': ''},
       {'value': ''},
       {'value': ''},
       {'value': ''},
       {'value': ''},
       {'value': ''}]},
     'Rows': {'Row': [{'Header': {'ColData': [{'value': 'Interest Earned',
           'id': '188'},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''}]},
        'Rows': {'Row': [{'ColData': [{'value': '2023-01-31'},
            {'value': 'Deposit', 'id': '3491'},
            {'value': ''},
            {'value': '', 'id': ''},
            {'value': 'Deposit Dividend 0.050% APY Earn Dividend, Deposit, Processed'},
            {'value': 'ENT Savings (Keystone)', 'id': '112'},
            {'value': '.40'},
            {'value': '.40'}],
           'type': 'Data'}]},
        'Summary': {'ColData': [{'value': 'Total for Interest Earned'},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': '.40'},
          {'value': ''}]},
        'type': 'Section'},
       {'Header': {'ColData': [{'value': 'Tithe', 'id': '187'},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''}]},
        'Rows': {'Row': [{'Header': {'ColData': [{'value': 'General Tithe'},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''}]},
           'Rows': {'Row': [{'ColData': [{'value': '2023-01-03'},
               {'value': 'Deposit', 'id': '3445'},
               {'value': ''},
               {'value': '', 'id': ''},
               {'value': 'Tithe.ly  : Tithe.ly   : 1800948 ACH, Deposit, Processed'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '145.35'},
               {'value': '145.35'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-08'},
               {'value': 'Deposit', 'id': '3438'},
               {'value': ''},
               {'value': 'Larry Metzler', 'id': '305'},
               {'value': 'Metzler direct deposit'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '1280.00'},
               {'value': '1425.35'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-09'},
               {'value': 'Deposit', 'id': '3435'},
               {'value': ''},
               {'value': '', 'id': ''},
               {'value': 'Deposit   Bulk Checks       1,30 Deposit, Processed'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '1300.00'},
               {'value': '2725.35'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-09'},
               {'value': 'Deposit', 'id': '3434'},
               {'value': ''},
               {'value': '', 'id': ''},
               {'value': 'Tithe.ly  : Tithe.ly   : 1800948 ACH, Deposit, Processed'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '155.00'},
               {'value': '2880.35'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-11'},
               {'value': 'Deposit', 'id': '3437'},
               {'value': ''},
               {'value': '', 'id': ''},
               {'value': 'Tithe.ly  : Tithe.ly   : 1800948 ACH, Deposit, Processed'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '48.25'},
               {'value': '2928.60'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-15'},
               {'value': 'Deposit', 'id': '3440'},
               {'value': ''},
               {'value': '', 'id': ''},
               {'value': 'RDC  Deposit RDC Item Count  1 Check, Deposit, Processed'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '112.28'},
               {'value': '3040.88'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-15'},
               {'value': 'Deposit', 'id': '3439'},
               {'value': ''},
               {'value': 'Larry Metzler', 'id': '305'},
               {'value': 'Metzler direct deposit'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '250.00'},
               {'value': '3290.88'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-18'},
               {'value': 'Deposit', 'id': '3455'},
               {'value': ''},
               {'value': '', 'id': ''},
               {'value': 'Tithe.ly  : Tithe.ly   : 1800948 ACH, Deposit, Processed'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '38.31'},
               {'value': '3329.19'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-19'},
               {'value': 'Deposit', 'id': '3454'},
               {'value': ''},
               {'value': '', 'id': ''},
               {'value': 'Tithe.ly  : Tithe.ly   : 1800948 ACH, Deposit, Processed'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '193.90'},
               {'value': '3523.09'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-24'},
               {'value': 'Deposit', 'id': '3459'},
               {'value': ''},
               {'value': '', 'id': ''},
               {'value': 'Tithe.ly  : Tithe.ly   : 1800948 ACH, Deposit, Processed'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '185.25'},
               {'value': '3708.34'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-25'},
               {'value': 'Deposit', 'id': '3458'},
               {'value': ''},
               {'value': '', 'id': ''},
               {'value': 'Tithe.ly  : Tithe.ly   : 1800948 ACH, Deposit, Processed'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '78.90'},
               {'value': '3787.24'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-25'},
               {'value': 'Deposit', 'id': '3457'},
               {'value': ''},
               {'value': '', 'id': ''},
               {'value': 'Tithe.ly  : Tithe.ly   : 1800948 ACH, Deposit, Processed'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '475.49'},
               {'value': '4262.73'}],
              'type': 'Data'},
             {'ColData': [{'value': '2023-01-29'},
               {'value': 'Deposit', 'id': '3496'},
               {'value': ''},
               {'value': 'Larry Metzler', 'id': '305'},
               {'value': 'Metzler direct deposit'},
               {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
               {'value': '300.00'},
               {'value': '4562.73'}],
              'type': 'Data'}]},
           'Summary': {'ColData': [{'value': 'Total for General Tithe'},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': '4562.73'},
             {'value': ''}]},
           'type': 'Section'}]},
        'Summary': {'ColData': [{'value': 'Total for Tithe'},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': '4562.73'},
          {'value': ''}]},
        'type': 'Section'}]},
     'Summary': {'ColData': [{'value': 'Total for Income'},
       {'value': ''},
       {'value': ''},
       {'value': ''},
       {'value': ''},
       {'value': ''},
       {'value': '4563.13'},
       {'value': ''}]},
     'type': 'Section'},
    {'Header': {'ColData': [{'value': 'Expenses'},
       {'value': ''},
       {'value': ''},
       {'value': ''},
       {'value': ''},
       {'value': ''},
       {'value': ''},
       {'value': ''}]},
     'Rows': {'Row': [{'Header': {'ColData': [{'value': 'Facilities',
           'id': '142'},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''},
          {'value': ''}]},
        'Rows': {'Row': [{'Header': {'ColData': [{'value': 'Building/Office'},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''}]},
           'Rows': {'Row': [{'Header': {'ColData': [{'value': 'Church Insurance'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''}]},
              'Rows': {'Row': [{'ColData': [{'value': '2023-01-19'},
                  {'value': 'Expense', 'id': '3453'},
                  {'value': ''},
                  {'value': '', 'id': ''},
                  {'value': 'BROTHERHOOD  : PREM PYMT   : 135 ACH, Withdrawal, Processed'},
                  {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
                  {'value': '1132.50'},
                  {'value': '1132.50'}],
                 'type': 'Data'}]},
              'Summary': {'ColData': [{'value': 'Total for Church Insurance'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': '1132.50'},
                {'value': ''}]},
              'type': 'Section'},
             {'Header': {'ColData': [{'value': 'Communications', 'id': '126'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''}]},
              'Rows': {'Row': [{'ColData': [{'value': '2023-01-30'},
                  {'value': 'Expense', 'id': '3489'},
                  {'value': ''},
                  {'value': '', 'id': ''},
                  {'value': 'CENTURYLINK LUMEN 800-244-1111 L BillPayment, Withdrawal, Processed'},
                  {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
                  {'value': '279.69'},
                  {'value': '279.69'}],
                 'type': 'Data'}]},
              'Summary': {'ColData': [{'value': 'Total for Communications'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': '279.69'},
                {'value': ''}]},
              'type': 'Section'},
             {'Header': {'ColData': [{'value': 'Office Supplies', 'id': '123'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''}]},
              'Rows': {'Row': [{'ColData': [{'value': '2023-01-26'},
                  {'value': 'Expense', 'id': '3556'},
                  {'value': ''},
                  {'value': 'Amazon', 'id': '107'},
                  {'value': 'Visa Check  Amazon.com*2E4ZI9693 DebitCard, Withdrawal, Processed'},
                  {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
                  {'value': '31.28'},
                  {'value': '31.28'}],
                 'type': 'Data'}]},
              'Summary': {'ColData': [{'value': 'Total for Office Supplies'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': '31.28'},
                {'value': ''}]},
              'type': 'Section'},
             {'Header': {'ColData': [{'value': 'Repair and Maintenance',
                 'id': '196'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''}]},
              'Rows': {'Row': [{'ColData': [{'value': '2023-01-16'},
                  {'value': 'Expense', 'id': '3465'},
                  {'value': ''},
                  {'value': 'COSTCO', 'id': '113'},
                  {'value': 'COSTCO WHSE #1014 COLORADO SPRI POS - Vaccuum cleaner'},
                  {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
                  {'value': '432.78'},
                  {'value': '432.78'}],
                 'type': 'Data'},
                {'ColData': [{'value': '2023-01-24'},
                  {'value': 'Check', 'id': '3460'},
                  {'value': '314'},
                  {'value': '', 'id': ''},
                  {'value': 'Check #314 Withdrawal Draft, Withdrawal, Processed'},
                  {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
                  {'value': '280.00'},
                  {'value': '712.78'}],
                 'type': 'Data'},
                {'ColData': [{'value': '2023-01-30'},
                  {'value': 'Check', 'id': '3495'},
                  {'value': '331'},
                  {'value': 'BullsEye Plumbing', 'id': '314'},
                  {'value': 'BullsEye plumbing repair'},
                  {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
                  {'value': '151.97'},
                  {'value': '864.75'}],
                 'type': 'Data'}]},
              'Summary': {'ColData': [{'value': 'Total for Repair and Maintenance'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': '864.75'},
                {'value': ''}]},
              'type': 'Section'},
             {'Header': {'ColData': [{'value': 'Updates/Renovations',
                 'id': '195'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''}]},
              'Rows': {'Row': [{'ColData': [{'value': '2023-01-03'},
                  {'value': 'Check', 'id': '3442'},
                  {'value': '307'},
                  {'value': 'Zach Ripley Handyman LLC', 'id': '313'},
                  {'value': 'Check #307 Withdrawal Draft, Withdrawal, Processed'},
                  {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
                  {'value': '4138.46'},
                  {'value': '4138.46'}],
                 'type': 'Data'}]},
              'Summary': {'ColData': [{'value': 'Total for Updates/Renovations'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': '4138.46'},
                {'value': ''}]},
              'type': 'Section'}]},
           'Summary': {'ColData': [{'value': 'Total for Building/Office'},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': '6446.68'},
             {'value': ''}]},
           'type': 'Section'},
          {'Header': {'ColData': [{'value': 'Government/Professional Fees',
              'id': '138'},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''},
             {'value': ''}]},
           'Rows': {'Row': [{'Header': {'ColData': [{'value': 'City Watershed Fees'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''}]},
              'Rows': {'Row': [{'ColData': [{'value': '2023-01-24'},
                  {'value': 'Expense', 'id': '3473'},
                  {'value': ''},
                  {'value': '', 'id': ''},
                  {'value': 'PNP BILLPAYMENT  : 012023EK   : ACH, Withdrawal, Processed'},
                  {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
                  {'value': '23.07'},
                  {'value': '23.07'}],
                 'type': 'Data'}]},
              'Summary': {'ColData': [{'value': 'Total for City Watershed Fees'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': '23.07'},
                {'value': ''}]},
              'type': 'Section'},
             {'Header': {'ColData': [{'value': 'Cleaning Service',
                 'id': '129'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''}]},
              'Rows': {'Row': [{'ColData': [{'value': '2023-01-13'},
                  {'value': 'Check', 'id': '3436'},
                  {'value': '310'},
                  {'value': 'Lisa Marie', 'id': '304'},
                  {'value': 'Check #310 Withdrawal Draft, Withdrawal, Processed'},
                  {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
                  {'value': '180.00'},
                  {'value': '180.00'}],
                 'type': 'Data'}]},
              'Summary': {'ColData': [{'value': 'Total for Cleaning Service'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': '180.00'},
                {'value': ''}]},
              'type': 'Section'},
             {'Header': {'ColData': [{'value': 'Incorporation Fees',
                 'id': '139'},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''},
                {'value': ''}]},
              'Rows': {'Row': [{'ColData': [{'value': '2023-01-10'},
                  {'value': 'Expense', 'id': '3468'},
                  {'value': ''},
                  {'value': '', 'id': ''},
                  {'value': 'Visa Check  SOS REGISTRATION FEE DebitCard, Withdrawal, Processed'},
                  {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
                  {'value': '10.00'},
                  {'value': '10.00'}],
                 'type': 'Data'},
                {'ColData': [{'value': '2023-01-10'},
                  {'value': 'Expense', 'id': '3475'},
                  {'value': ''},
                  {'value': '', 'id': ''},
                  {'value': 'Visa Check  SOS REGISTRATION FEE DebitCard, Withdrawal, Processed'},
                  {'value': '1002 ENT Checking (Keystone)', 'id': '111'},
                  {'value': '10.00'},
                  {'value': '20.00'}],
                 'type': 'Data'}]},
              'Summary': {'ColData': [{'value': 'Total for Incorporation Fees'},
                {'value': ''},
                {'value': ''},

In [ ]:
get header_info

In [42]:
row_list = []
def proc_rows(rows, category = "", level=0):
    row_count = 0 # actual values row count
    for row in rows:
        if "Header" in row:
            header_col = row['Header']['ColData'][0]['value']
            if category == "":
                current_category = header_col
            else:
                current_category = f"{category}:{header_col}"
            print(current_category)
            proc_rows(row['Rows']['Row'], category = current_category, level = level+1)
        else:
            row_count+=1
            col_data = row['ColData']
            if len(col_data)==len(cols):
                cur_row = {cols[i]:col_data[i]['value'] for i in range(len(cols))}
                cur_row.update({"category":category})
                row_list.append(cur_row)
                print(f"row {row_count}")
            #parent_category = "_".join(parent_category.split("_")[:level-1])

In [43]:
proc_rows(json_resp["Rows"]["Row"][0]['Rows']['Row'])

Income
Income:Interest Earned
row 1
Income:Tithe
Income:Tithe:General Tithe
row 1
row 2
row 3
row 4
row 5
row 6
row 7
row 8
row 9
row 10
row 11
row 12
row 13
Expenses
Expenses:Facilities
Expenses:Facilities:Building/Office
Expenses:Facilities:Building/Office:Church Insurance
row 1
Expenses:Facilities:Building/Office:Communications
row 1
Expenses:Facilities:Building/Office:Office Supplies
row 1
Expenses:Facilities:Building/Office:Repair and Maintenance
row 1
row 2
row 3
Expenses:Facilities:Building/Office:Updates/Renovations
row 1
Expenses:Facilities:Government/Professional Fees
Expenses:Facilities:Government/Professional Fees:City Watershed Fees
row 1
Expenses:Facilities:Government/Professional Fees:Cleaning Service
row 1
Expenses:Facilities:Government/Professional Fees:Incorporation Fees
row 1
row 2
Expenses:Facilities:Government/Professional Fees:Utilities
row 1
Expenses:Facilities:Hospitality
Expenses:Facilities:Hospitality:Kitchen/Cleaning/Paper Supplies
row 1
Expenses:Facilities:Software and Subscriptions
row 1
row 2
row 3
row 4
row 5
row 6
Expenses:Giving
Expenses:Giving:Charitable Contributions
Expenses:Giving:Charitable Contributions:Crossfire
row 1
Expenses:Giving:Charitable Contributions:Joel Frees
row 1
Expenses:Giving:Charitable Contributions:Life Network
row 1
Expenses:Ministry
Expenses:Ministry:Individual Ministries
Expenses:Ministry:Individual Ministries:Communion
row 1
Expenses:Ministry:Individual Ministries:Pastoral Expenses
row 1
row 2
Expenses:Ministry:Individual Ministries:Worship Expenses
row 1
row 2
row 3
Expenses:Ministry:Resources
Expenses:Ministry:Resources:Right Now Media
row 1
Expenses:Salaries
Expenses:Salaries:Associate Pastor
row 1
row 2
row 3
row 4
row 5
Expenses:Salaries:Lead Pastor
row 1
row 2
row 3
row 4
row 5

In [33]:
pd.DataFrame(row_list)

,Date,Transaction Type,Num,Name,Memo/Description,Split,Amount,Balance,category
0,2023-01-31,Deposit,,,"Deposit Dividend 0.050% APY Earn Dividend, Dep...",ENT Savings (Keystone),.40,.40,Interest Earned
1,2023-01-03,Deposit,,,"Tithe.ly : Tithe.ly : 1800948 ACH, Deposit,...",1002 ENT Checking (Keystone),145.35,145.35,General Tithe
2,2023-01-08,Deposit,,Larry Metzler,Metzler direct deposit,1002 ENT Checking (Keystone),1280.00,1425.35,General Tithe
3,2023-01-09,Deposit,,,"Deposit Bulk Checks 1,30 Deposit, Proc...",1002 ENT Checking (Keystone),1300.00,2725.35,General Tithe
4,2023-01-09,Deposit,,,"Tithe.ly : Tithe.ly : 1800948 ACH, Deposit,...",1002 ENT Checking (Keystone),155.00,2880.35,General Tithe
5,2023-01-11,Deposit,,,"Tithe.ly : Tithe.ly : 1800948 ACH, Deposit,...",1002 ENT Checking (Keystone),48.25,2928.60,General Tithe
6,2023-01-15,Deposit,,,"RDC Deposit RDC Item Count 1 Check, Deposit,...",1002 ENT Checking (Keystone),112.28,3040.88,General Tithe
7,2023-01-15,Deposit,,Larry Metzler,Metzler direct deposit,1002 ENT Checking (Keystone),250.00,3290.88,General Tithe
8,2023-01-18,Deposit,,,"Tithe.ly : Tithe.ly : 1800948 ACH, Deposit,...",1002 ENT Checking (Keystone),38.31,3329.19,General Tithe
9,2023-01-19,Deposit,,,"Tithe.ly : Tithe.ly : 1800948 ACH, Deposit,...",1002 ENT Checking (Keystone),193.90,3523.09,General Tithe
10,2023-01-24,Deposit,,,"Tithe.ly : Tithe.ly : 1800948 ACH, Deposit,...",1002 ENT Checking (Keystone),185.25,3708.34,General Tithe
11,2023-01-25,Deposit,,,"Tithe.ly : Tithe.ly : 1800948 ACH, Deposit,...",1002 ENT Checking (Keystone),78.90,3787.24,General Tithe
12,2023-01-25,Deposit,,,"Tithe.ly : Tithe.ly : 1800948 ACH, Deposit,...",1002 ENT Checking (Keystone),475.49,4262.73,General Tithe
13,2023-01-29,Deposit,,Larry Metzler,Metzler direct deposit,1002 ENT Checking (Keystone),300.00,4562.73,General Tithe
14,2023-01-19,Expense,,,"BROTHERHOOD : PREM PYMT : 135 ACH, Withdraw...",1002 ENT Checking (Keystone),1132.50,1132.50,Church Insurance
15,2023-01-30,Expense,,,"CENTURYLINK LUMEN 800-244-1111 L BillPayment, ...",1002 ENT Checking (Keystone),279.69,279.69,Communications
16,2023-01-26,Expense,,Amazon,"Visa Check Amazon.com*2E4ZI9693 DebitCard, Wi...",1002 ENT Checking (Keystone),31.28,31.28,Office Supplies
17,2023-01-16,Expense,,COSTCO,COSTCO WHSE #1014 COLORADO SPRI POS - Vaccuum ...,1002 ENT Checking (Keystone),432.78,432.78,Repair and Maintenance
18,2023-01-24,Check,314,,"Check #314 Withdrawal Draft, Withdrawal, Proce...",1002 ENT Checking (Keystone),280.00,712.78,Repair and Maintenance
19,2023-01-30,Check,331,BullsEye Plumbing,BullsEye plumbing repair,1002 ENT Checking (Keystone),151.97,864.75,Repair and Maintenance
20,2023-01-03,Check,307,Zach Ripley Handyman LLC,"Check #307 Withdrawal Draft, Withdrawal, Proce...",1002 ENT Checking (Keystone),4138.46,4138.46,Updates/Renovations
21,2023-01-24,Expense,,,"PNP BILLPAYMENT : 012023EK : ACH, Withdrawa...",1002 ENT Checking (Keystone),23.07,23.07,City Watershed Fees
22,2023-01-13,Check,310,Lisa Marie,"Check #310 Withdrawal Draft, Withdrawal, Proce...",1002 ENT Checking (Keystone),180.00,180.00,Cleaning Service
23,2023-01-10,Expense,,,"Visa Check SOS REGISTRATION FEE DebitCard, Wi...",1002 ENT Checking (Keystone),10.00,10.00,Incorporation Fees
24,2023-01-10,Expense,,,"Visa Check SOS REGISTRATION FEE DebitCard, Wi...",1002 ENT Checking (Keystone),10.00,20.00,Incorporation Fees
25,2023-01-27,Expense,,,"COS UTILITIES : UTILITIES : 0 ACH, Withdraw...",1002 ENT Checking (Keystone),576.60,576.60,Utilities
26,2023-01-05,Expense,,Wal-Mart,"WAL-MART #3582 1575 SPACE CENTER POS, Withdraw...",1002 ENT Checking (Keystone),111.95,111.95,Kitchen/Cleaning/Paper Supplies
27,2023-01-01,Expense,,,"Visa Check Google LLC GSUITE_my DebitCard, Wi...",1002 ENT Checking (Keystone),9.28,9.28,Software and Subscriptions
28,2023-01-03,Expense,,,"Visa Check THEEVENTSCALPLUGINS DebitCard, Wit...",1002 ENT Checking (Keystone),99.00,108.28,Software and Subscriptions
29,2023-01-12,Expense,,,"Visa Check RENEWEDVISION.COM SF DebitCard, Wi...",1002 ENT Checking (Keystone),179.00,287.28,Software and Subscriptions
30,2023-01-26,Expense,,Intuit,"Visa Check INTUIT *QBooks Onlin DebitCard, Wi...",1002 ENT Checking (Keystone),301.53,588.81,Software and Subscriptions
31,2023-01-26,Deposit,,,"Credit Voucher INTUIT *QBooks O DebitCard, De...",1002 ENT Checking (Keystone),-2.49,586.32,Software and Subscriptions
32,2023-01-31,Expense,,,W2 and 1099NEC Filing Software,1002 ENT Checking (Keystone),14.25,600.57,Software and Subscriptions
33,2023-01-16,Expense,,,"Visa Check SST*CROSSFIREMIN1675 DebitCard, Wi...",1002 ENT Checking (Keystone),182.00,182.00,Crossfire
34,2023-01-15,Expense,,,"Visa Check PAYPAL *joelfrees Vi DebitCard, Wi...",1002 ENT Checking (Keystone),187.58,187.58,Joel Frees
35,2023-01-15,Expense,,Life Network,"Visa Check LIFE NETWORK WWW.ELI DebitCard, Wi...",1002 ENT Checking (Keystone),182.00,182.00,Life Network
36,2023-01-26,Expense,,,"Visa Check CONCORDIA SUPPLY CO. DebitCard, Wi...",1002 ENT Checking (Keystone),64.95,64.95,Communion
37,2023-01-02,Expense,,Mission Coffee Roast,"SQ *THIRD SPACE COFFEE SQUARE PU POS, Withdraw...",1002 ENT Checking (Keystone),9.85,9.85,Pastoral Expenses
38,2023-01-20,Expense,,,"SQ *WAYFINDER COFFEE CO. SQUARE POS, Withdrawa...",1002 ENT Checking (Keystone),13.37,23.22,Pastoral Expenses
39,2023-01-10,Expense,,,"Visa Check SP SUNDAY SOUNDS SUN DebitCard, Wi...",1002 ENT Checking (Keystone),120.00,120.00,Worship Expenses
40,2023-01-11,Expense,,Amazon,"Visa Check AMZN Mktp US*9Z8HS96 DebitCard, Wi...",1002 ENT Checking (Keystone),229.03,349.03,Worship Expenses
41,2023-01-20,Expense,,Amazon,"Visa Check AMZN Mktp US*V692F1E DebitCard, Wi...",1002 ENT Checking (Keystone),28.39,377.42,Worship Expenses
42,2023-01-16,Expense,,,"Visa Check RIGHTNOW MEDIA WWW.R DebitCard, Wi...",1002 ENT Checking (Keystone),59.99,59.99,Right Now Media
43,2023-01-05,Check,308,Joel Longberry,"Check #308 Withdrawal Draft, Withdrawal, Proce...",1002 ENT Checking (Keystone),150.00,150.00,Associate Pastor
44,2023-01-05,Check,309,Joel Longberry,"Check #309 Withdrawal Draft, Withdrawal, Proce...",1002 ENT Checking (Keystone),150.00,300.00,Associate Pastor
45,2023-01-10,Check,311,Joel Longberry,"Check #311 Withdrawal Draft, Withdrawal, Proce...",1002 ENT Checking (Keystone),150.00,450.00,Associate Pastor
46,2023-01-18,Check,329,,"Check #329 Withdrawal Draft, Withdrawal, Proce...",1002 ENT Checking (Keystone),150.00,600.00,Associate Pastor
47,2023-01-25,Check,330,,"Check #313 Withdrawal Draft, Withdrawal, Proce...",1002 ENT Checking (Keystone),150.00,750.00,Associate Pastor
48,2023-01-02,Expense,,David and Catherine Reyes,Withdrawal Home Banking Transfer InternetBanki...,1002 ENT Checking (Keystone),300.00,300.00,Lead Pastor
49,2023-01-08,Expense,,David and Catherine Reyes,Withdrawal Home Banking Transfer InternetBanki...,1002 ENT Checking (Keystone),300.00,600.00,Lead Pastor
50,2023-01-15,Expense,,David and Catherine Reyes,Withdrawal Home Banking Transfer InternetBanki...,1002 ENT Checking (Keystone),300.00,900.00,Lead Pastor
51,2023-01-22,Expense,,,Withdrawal Home Banking Transfer InternetBanki...,1002 ENT Checking (Keystone),300.00,1200.00,Lead Pastor
52,2023-01-29,Expense,,David and Catherine Reyes,Direct deposit,1002 ENT Checking (Keystone),300.00,1500.00,Lead Pastor